.foo
	opacity: 0
	transition: opacity 0.5s ease-in-out


@font-face
	font-family: "WorkSans"
	src: url("Work_Sans/WorkSans-Regular.ttf")

@font-face
	font-family: "WorkSansMedium"
	src: url("Work_Sans/WorkSans-Medium.ttf")

//@font-face
	font-family: "WorkSansSemiBold"
	src: url("Work_Sans/WorkSans-SemiBold.ttf")

/*normalize*/
h1, h2, h3, h4, h5, h6
	margin: 0
	font-weight: 300


h1

	font:
		size: 128px
	line-height: 124px
	letter-spacing: -5px


h2

	font:
		size: 58px
		family: WorkSansMedium
	line-height: 64px
	letter-spacing: -2px
	margin-bottom: 60px


.h4
	font:
		size: 30px
	line-height: 44px
	margin-bottom: 40px

h4
	@extend .h4


h5
	font:
		size: 22px
	line-height: 30px
	margin-bottom: 22px


body
	-webkit-font-smoothing: antialiased
	background-color: #111
	color: white
	font:
		family: WorkSans

a
	@extend .cyan

li
	margin-bottom: 20px

code
	background-color: rgb(44, 47, 48)
	padding: 5px 3px
	color: #D8D6D0
	letter-spacing: 1px

	& > span.comment
		color: #BDB8AF

	& > span.red
		color: #DC6372

.app
	max-width: 984px
	margin: 80px auto 60px auto

#app
	@extend .app
	position: relative
	transition: filter 0.5s ease-out

	&.will-change-filter
		will-change: filter

	&.unfocused
		//filter: blur(2px) saturate(0.5)
		filter: grayscale(0.8) brightness(0.35)


#expando
	background-color: rgba(255, 255, 255, 0)
	//border: 1px solid rgba(255, 255, 255, 0)
	border: 1px solid rgba(255, 176, 46, 0)
	//backdrop-filter: blur(1px)
	color: rgba(0, 0, 0, 0)
	display: block
	font:
		family: monospace
		size: 16px
	line-height: 25px
	min-width: 380px
	padding: 30px
	position: absolute
	top: 0
	//transition: border 0.5s 1s, background-color 0.5s ease-out, backdrop-filter 0.5s, color 0.25s ease-in-out 0.15s, opacity 0.25s, box-shadow 1s ease-in 1s
	transition: border 0.5s ease-out, background-color 0.5s ease-out, color 0.2s ease-in-out, opacity 0.2s ease-out
	// BAD
	//transition: backdrop-filter 1s

	// GOOD
	//transition: border 0.5s 1s

	// GOOD
	//transition: background-color 0.3s ease-in-out 1s

	// GOOD
	//transition: color 1s 1s

	// GOOD
	//transition: opacity 1s ease-in 1s

	// GOOD
	//transition: box-shadow 1s ease-in 1s
	z-index: -1

	&[hidden]
		@extend .unclickable


	&.collapsed
		opacity: 0

	&.expanded
		backdrop-filter: blur(4px)
		//background-color: rgba(0, 0, 0, 0.1)
		//background-color: rgba(0, 0, 0, 0)
		//border: 1px solid rgba(255, 255, 255, 0.2)
		border: 1px solid rgba(255, 176, 46, 0.5)
		color: rgba(255, 255, 255, 1)
		height: auto
		//opacity: 1
		z-index: 5

	&.slow-transition-color-border
		transition: border 1s, color 1s

		& > p > code
			transition: color 1s, background-color 1s

			& > span
				transition: color 1s

	&.reset-color-border
		border: 1px solid rgba(255, 176, 46, 0)
		color: rgba(0, 0, 0, 0)

		& > p > code
			background-color: rgba(44, 47, 48, 0)
			color: rgba(0, 0, 0, 0)

			& > span
				color: rgba(0, 0, 0, 0)


	& > p
		margin-block-start: 24px


.block
	margin-bottom: 60px

.indent-30
	margin-left: 30px

.underline
	text-decoration: underline

.pointer
	cursor: pointer

	&:hover
		@extend .underline


.unclickable
	pointer-events: none

.cyan
	color: #00ffff

.orange
	//color: #FFAA1C
	//color: #FF9F00
	//color: #FF7100
	//color: #FF7400
	//color: #FFAA00
	//color: #FFB853
	//color: #FA9836
	//color: #EA6400
	color: rgb(255, 176, 46)

.fontsize-25
	font-size: 25px

.expandable
	@extend .underline

.spacy
	letter-spacing: 0.5px

.bold
	font-weight: 600

.italic
	font-style: italic


