@font-face
	font-family: "WorkSans"
	src: url("Work_Sans/WorkSans-Regular.ttf")

@font-face
	font-family: "WorkSansMedium"
	src: url("Work_Sans/WorkSans-Medium.ttf")

@font-face
	font-family: "WorkSansSemiBold"
	src: url("Work_Sans/WorkSans-SemiBold.ttf")

/*normalize*/
h1, h2, h3, h4, h5, h6
	margin: 0
	font-weight: 300


h1

	font:
		size: 128px
	line-height: 124px
	letter-spacing: -5px


h2

	font:
		size: 58px
		family: WorkSansMedium
	line-height: 64px
	letter-spacing: -2px
	margin-bottom: 60px


.h4
	font:
		size: 30px
	line-height: 44px
	margin-bottom: 40px

h4
	@extend .h4


h5
	font:
		size: 22px
	line-height: 30px
	margin-bottom: 22px


body
	-webkit-font-smoothing: antialiased
	background-color: #111
	color: white
	font:
		family: WorkSans

a
	color: cyan

.app
	max-width: 984px
	margin: 60px auto

#app
	@extend .app
	position: relative
	transition: filter 0.5s ease-in-out

	&.will-change-filter
		will-change: filter

	&.unfocused
		filter: blur(2px) saturate(0.5)


#expando
	display: flex
	height: 50vw
	margin-left: 50%
	//transform: translateX(-50%)
	position: absolute
	//top: 0
	//width: 600px
	z-index: -1

	&[hidden]
		@extend .unclickable

	&:not([hidden])
		z-index: 5
		overflow: scroll
		box-shadow: 0px 5px 10px rgb(150, 150, 150)


.mb-10
	margin-bottom: 10px

.mb-30
	margin-bottom: 30px

.mb-60
	margin-bottom: 60px

.indent-30
	margin-left: 30px


.clickable
	cursor: pointer
	text-decoration: underline

.unclickable
	pointer-events: none

.cyan
	color: #00ffff

.fontsize-25
	font-size: 25px

.expandable
	//color: #FFAA1C
	//color: #FF9F00
	//color: #FF7100
	//color: #FF7400
	//color: #FFAA00
	//color: #FFB853
	//color: #FA9836
	//color: #EA6400
	color: #FFB02E


